<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <title>Rap Libs</title>
    </head>
    <body>
        <h1>Rap Libs</h1>
        <form method = "POST" action ="/lyrics.html">
             Animal:<br>
            <input type="text" name="animal"/>
            <br>Animal (Plural)<br>
            <input type="text" name="plural_animal"/>
            <br>Street Name:<br>
            <input type="text" name="street"/>
            <br>Verb:<br>
            <input type="text" name="verb"/>
            
            <br>Article of clothing:<br>
            <input type="text" name="clothing"/>
            <br>Article of clothing (plural):<br>
            <input type="text" name="clothing_plural"/>
            <br>Color<br>
            <input type="text" name="color"/>
            <br>Vehicle:<br>
            <input type="text" name="vehicle"/>
            <br>Place:<br>
            <input type="text" name="place"/>
            <br>Group of people:<br>
            <input type="text" name="people"/>
            <br><br>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>