<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/style.css" type="text/css" />
        <title>Old {{street}}</title>
    </head>
    
    <body>
        <h1><span>Old {{street}}</span></h1>
        <h3>Yeah, I'm gonna take my <span>{{animal}}</span> to the old <span>{{street}}</span></h3>
        <h3>I'm gonna <span>{{verb}}</span> 'til I can't no more</h3>
        <h3>Yeah, I'm gonna take my <span>{{animal}}</span> to the old <span>{{street}}</span></h3>
        <h3>I'm gonna <span>{{verb}}</span> 'til I can't no more</h3>
        <br>
        
        <h3>I got the <span>{{plural_animal}}</span> in the back</h3>
        <h3><span>{{animal}}</span> tack is attached</h3>
        <h3><span>{{clothing}}</span> is matte black</h3>
        <h3>Got the <span>{{clothing_plural}}</span> that's <span>{{color}}</span> to match</h3>
        <h3>Ridin' on a <span>{{animal}}</span>, ha</h3>
        <h3>You can whip your <span>{{vehicle}}</span></h3>
        <h3>I been in the <span>{{place}}</span></h3>
        <h3>You ain't been up off that porch, now</h3>
        <br>
        
        <h3>Can't <span>{{people}}</span> tell me nothin'</h3>
        <h3>You can't tell me nothin'</h3>
        <h3>Can't <span>{{people}}</span> tell me nothin'</h3>
        <h3>You can't tell me nothin'</h3>
    </body>
    
    
</html>